.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-image: light;
  color: white;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      margin-top: 15px;
      padding: 10px 15px;
      cursor: pointer;
      transition: ease-out 0.3s;
      &:hover {
        transition: ease-in 0.3s;
        color: rgba(196, 33, 33, 0.647);
      }
    }
  }
}
