$bg-dark-mode: rgb(24, 22, 22);
$primary: rgb(236, 230, 230);

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-light-toggle-transition {
  transition: background-color 0.5s ease;
}

body.dark-mode {
  background-color: $bg-dark-mode;

  a {
    color: $primary;
  }

  h1 {
    color: $primary;
  }

  h2 {
    color: $primary;
  }

  label {
    color: $primary;
  }

  span {
    color: $primary;
  }

  .icon-button {
    color: rgb(236, 230, 230);
  }

  .category-container {
    border-color: rgb(236, 230, 230);
  }

  .form-input {
    border-bottom: 1px solid $primary;
    background-color: $bg-dark-mode;
  }

  .button-container {
    background-color: $primary;
    color: $bg-dark-mode;

    &:hover {
      background-color: $bg-dark-mode;
      color: $primary;
      border: 1px solid $primary;
    }

    &.google-sign-in {
      background-color: #4285f4;
      color: white;

      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }

    &.inverted {
      background-color: white;
      color: black;
      border: 1px solid black;

      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
