$bg-dark-mode: rgb(24, 22, 22);
$primary: rgb(236, 230, 230);

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-light-toggle-transition {
  transition: background-color 0.5s ease;
}

body.dark-mode {
  background-color: $bg-dark-mode;

  a {
    color: $primary;
  }

  .icon-button {
    color: rgb(236, 230, 230);
  }

  .category-container {
    border-color: rgb(236, 230, 230);
  }

  h1 {
    color: $primary;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
