$bg-dark-mode: rgb(24, 22, 22);
$primary: rgb(236, 230, 230);

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 15px;
}
body::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: $primary;
  -webkit-box-shadow: inset 0 0 3px rgb(138, 134, 134);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(103, 98, 98, 0.4);
  -webkit-box-shadow: inset 0 0 3px rgb(83, 78, 78);

  &:hover {
    background: #555;
  }
}

.dark-light-toggle-transition {
  transition: background-color 0.5s ease;
}

body.dark-mode {
  background-color: $bg-dark-mode;

  a {
    color: $primary;
  }

  h1 {
    color: $primary;
  }

  h2 {
    color: $primary;
  }

  label {
    color: $primary;
  }

  span {
    color: $primary;
  }

  .shopping-icon {
    color: $primary;
  }

  .icon-button {
    color: $primary;
  }

  .category-container {
    border-color: $primary;
  }

  .form-input {
    border-bottom: 1px solid $primary;
    background-color: $bg-dark-mode;
  }

  .button-container {
    background-color: $primary;
    color: $bg-dark-mode;

    &:hover {
      background-color: $bg-dark-mode;
      color: $primary;
      border: 1px solid $primary;
    }

    &.google-sign-in {
      background-color: #4285f4;
      color: $primary;

      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }

    &.inverted {
      background-color: $primary;
      color: $bg-dark-mode;
      border: 1px solid $bg-dark-mode;

      &:hover {
        background-color: $bg-dark-mode;
        color: $primary;
        border: none;
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: $bg-dark-mode;
}

* {
  box-sizing: border-box;
}
